<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lastnight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LastNight">
        <activity android:name=".Credits"></activity>
        <activity android:name=".Guard" />
        <activity android:name=".Food" />
        <activity android:name=".Lighter" />
        <activity android:name=".Ending" />
        <activity android:name=".LastNightStory" />
        <activity android:name=".LastNight" />
        <activity android:name=".ThirdNightOutcome" />
        <activity android:name=".ThirdNightDecision" />
        <activity android:name=".ThirdNightStory" />
        <activity android:name=".ThirdNight" />
        <activity android:name=".MidnightOutcome" />
        <activity android:name=".MidnightDecision" />
        <activity android:name=".MidnightStory" />
        <activity android:name=".Midnight" />
        <activity android:name=".SecondNightOutcome" />
        <activity android:name=".SecondNightDecision" />
        <activity android:name=".SecondNightStory" />
        <activity android:name=".SecondNightCard" />
        <activity android:name=".FirstNightConclusion" />
        <activity android:name=".FirstNightDecision" />
        <activity android:name=".FirstNightStory" />
        <activity android:name=".PrologueConclusion" />
        <activity android:name=".TheFirstNightCard" />
        <activity android:name=".PrologueDecision2" />
        <activity android:name=".PrologueStory2" />
        <activity android:name=".PrologueOutcome" />
        <activity android:name=".PrologueDecision" />
        <activity android:name=".PrologueStory" />
        <activity android:name=".PrologueCard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>